#about-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#about-container .segment {
  padding: 35px;
}

#about-container h1 {
  text-align: center;
}

#about-container div {
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

#about-container .emphasized {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 450;
}

#about-container .back-btn {
  text-align: center;
}
