#all-items-filter-container {
  padding: 20px;
  text-align: left;
  color: rgb(58, 57, 57);
}

#all-items-filter-container .header {
  font-size: 20px;
}

#all-items-filter-container .field {
  margin-bottom: 30px;
}

#all-items-filter-container .field .subheading {
  margin-bottom: 10px;
  font-size: 16px;
}

#all-items-filter-container .field .checkbox {
  margin-bottom: 5px;
}
