#item-page-container {
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 20px;
}

#item-page-container #description-container {
  text-align: left;
}

#item-page-container #description-container h1 {
  margin-bottom: -20px;
}

#item-page-container #description-container .info {
  font-size: 16px;
  padding-bottom: 15px;
}

#item-page-container #description-container .info div {
  margin-bottom: 5px;
}

#item-page-container .card .description {
  font-size: 16px;
  margin-bottom: 5px;
}

#item-page-container .card .description .button {
  font-size: 16px;
}

#item-page-container #photo-container .ui.card .image {
  padding: 10px;
  background-color: white;
}

#item-page-container #photo-container .ui.card .image img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}

#item-page-container #photo-container #back-btn {
  cursor: pointer;
}
