#item-page-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#item-page-container .six.wide.column .ui.card.raised.segment {
  font-size: 16px;
}

#item-page-container .six.wide.column .ui.card.raised.segment .image {
  padding: 5%;
  background-color: white;
}

#item-page-container .six.wide.column .ui.card.raised.segment .image img {
  height: 300px;
  object-fit: cover;
}

#item-page-container .ten.wide.column.raised.segment {
  padding-top: 5%;
}

#item-page-container .ten.wide.column.raised.segment h3 {
  font-size: 16px;
}

#item-page-container .ten.wide.column.raised.segment .info {
  font-size: 16px;
}
