.ui.form {
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

.ui.form .ui.button {
  color: white;
  background-color: #2585d4;
}

.ui.form .field label {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}
