#seller-page-container {
  border: 5px solid red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#seller-page-container .sixteen.wide.column {
  border: 3px solid blue;
}

#seller-page-container .ten.wide.column {
  border: 3px solid green;
}

#seller-page-container .six.wide.column {
  border: 3px solid purple;
}
