#seller-page-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* #seller-page-container .sixteen.wide.column {
}

#seller-page-container .ten.wide.column {
}

#seller-page-container .six.wide.column {
} */
